<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="description" content="">
    <meta name="keywords" content="KareShield, contractors, reviews, customer reviews, ">
    <link rel="icon" href="favicon.ico">

    <title>DashBoard | KareShield</title>
    <!-- Refer to https://www.favicon-generator.org/ to generate favicons -->
    <link rel="stylesheet" href="./src/styles/style.css">
    <link rel="stylesheet" href="./src/styles/dashboard.css">
</head>
<body>
    <div id="app"> 
        <header>
            <nav class="navbar visible">
                <a href="index.html" class="logo">
                    <img id="navLogo" src="./src/assets/Images/logo.png" alt="KareShield Logo">
                </a>
                    <div class="nav-items">
                        <a href="#">About Us</a>
                        <a href="#">How It Works</a>
                        <a href="#">Contact Us</a>
                        <a href="#">FAQs</a>
                    </div>
                    <div v-if="userNotSignedIn" class="signInBtns">
                        <button @click="registerPageNavigate" class="secondaryButton">Create Account</button>
                        <button @click="loginPageNavigate" class="primaryButton" id="signedIn">
                            <img src="./src/assets/icons/user.svg" alt="User Icon">
                            <span>Sign In</span>
                        </button>
                    </div>
                    <div v-else class="nav-items">
                        <a href="dashboard.html" @click="readReviewsPopup">Read Reviews</a>
                        <a href="#" @click="writeReviewsPopup">Write Review</a>
                        <!-- <button @click="deleteSession" class="secondaryButton" id="signedOut">Sign Out</button> -->
                        <a href="#" id="toggleUserMenu">
                            <img src="./src/assets/icons/user-circleLight.svg" alt="Toggle User Menu">
                        </a>
                        <div id="userMenu">
                            <p>{{user.name }}</p>
                            <p>{{business.name}}</p>
                            <li class="actionList-sectionDivider">
                            </li>
                            <ul>
                                <li>
                                    <a href="dashboard.html" class="actionListItem">
                                        <img src="./src/assets/icons/create-dashboardLight.svg" alt="Dashboard Icon" class="icon">
                                        <span class="linksName">Dashboard</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="actionListItem" @click="writeReviewsPopup">
                                        <img src="./src/assets/icons/shield-checkLight.svg" alt="Write Review Icon" class="icon">
                                        <span class="linksName">Write Review</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="dashboard.html" class="actionListItem" @click="readReviewsPopup">
                                        <img src="./src/assets/icons/eyeLight.svg" alt="Read Review Icon" class="icon">
                                        <span class="linksName">Read Review</span>
                                    </a>
                                </li>
                                <li class="actionList-sectionDivider"></li>
                                <li>
                                    <a href="#" class="actionListItem">
                                        <img src="./src/assets/icons/user-circleLight.svg" alt="Profile Icon" class="icon">
                                        <span class="linksName">Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="actionListItem">
                                        <img src="./src/assets/icons/settings2Light.svg" alt="Settings Icon" class="icon">
                                        <span class="linksName">Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="actionListItem">
                                        <img src="./src/assets/icons/signoutRed.svg" alt="Logout Icon" class="icon">
                                        <span class="linksName logout">Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
            </nav>
        </header>

        <main class="grid12">
            <div v-if="readReviews" class="readReviews">
                <div class="searchHeader grid12">
                    <h1>Search Reviews</h1>
                    <div class="searchParams grid12">
                        <input v-model="fNameSearchReviewFilter" placeholder="Search customers FIRST name..." id="fNameSearchBox" class="searchBox">
                        <input v-model="lNameSearchReviewFilter" placeholder="Search customers LAST name..." id="lNameSearchBox" class="searchBox">
                        <input v-model="phoneSearchReviewFilter" placeholder="Search customers phone number..." id="phoneSearchBox" type="number" class="searchBox">
                        <input v-model="addressSearchReviewFilter" placeholder="Search customers city..." id="addressSearchBox" class="searchBox">
                        <select v-model="workingTypeReviewFilter" name="workType" id="workingType">
                            <option value="" disabled selected>Select a work type</option>
                            <option value="landscaping">Landscaping</option>
                            <option value="concrete">Concrete</option>
                            <option value="framing">Framing</option>
                            <option value="painting">Painting</option>
                            <option value="Electrical">Electrical</option>
                            <option value="Plumbing">Plumbing</option>
                            <option value="Roofing">Roofing</option>
                            <option value="Carpentry">Carpentry</option>
                            <option value="HVAC">HVAC</option>
                            <option value="Masonry">Masonry</option>
                            <option value="Drywall">Drywall</option>
                            <option value="Siding">Siding</option>
                            <option value="Other">Other</option>
                        </select>
                        <button @click="clearSearchFilters" class="clearReviewSearchButton secondaryButton">Clear Search</button>
                        <button @click="searchReviews" class="reviewSearchButton primaryButton">Search</button>
                    </div>
                </div>
                <div class="reviewsContainer">
                    <h2>All Results</h2>
                    <div v-for="review in reviews" :key="review.id" class="reviewCardOuter">
                        <div class="reviewCard">
                            <div class="grid12 reviewShow">
                                <p class="reviewNameLbl reviewLabel">Customer Name</p>
                                <p class="showReviewName reviewDisplay">{{ review.customer.customerFirstName + " " + review.customer.customerLastName}}</p>
                                <p class="reviewBusinessLbl reviewLabel">Reviewing Business</p>
                                <p class="showReviewBusiness reviewDisplay">{{review.business.businessName }}</p>
                                <p class="reviewWorkTypeLbl reviewLabel">Work Type</p>
                                <p class="showReviewWorkType reviewDisplay">{{review.reviewWorkDone }}</p>
                                <div class="line"></div>
                                <p class="reviewDescriptionLbl reviewLabel">Review Description</p>
                                <p class="showReviewDescription reviewDisplay">{{ review.reviewDescription }}</p>
                                <p class="reviewDateLbl reviewLabel">Date Reviewed:</p>
                                <p class="showReviewDate reviewLabel">{{ review.timestamp }}</p>
                                <p class="reviewRatingLbl reviewLabel">Rating</p>
                                <p class="showReviewRating reviewDisplay">{{ review.rating }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else-if="writeReviews" class="writeReviewArea">
                <div class="customerSearchArea">
                    <h1>Search For A Customer to Review</h1>
                    <div class="customerSearchInputs grid12">
                        <input v-model="customerFirstNameSearch" placeholder="Search customers FIRST Name..." id="customerSearchFName" class="searchBox">
                        <input v-model="customerLastNameSearch" placeholder="Search customers LAST Name..." id="customerSearchLName" class="searchBox">
                        <input v-model="customerPhoneSearch" placeholder="Search customers phone number..." id="customerSearchPhoneNum" class="searchBox">
                        <input v-model="customerCitySearch" placeholder="Search customers city..." id="customerSearchCity" class="searchBox">
                        <input v-model="customerStateSearch" placeholder="Search customers state..." id="customerSearchState" class="searchBox">
                        <button @click="customerSearch" class="primaryButton customerSearchButton">Search For A Customer to Review</button>
                    </div>
                </div>
                <div class="customerArea">
                    <h2>Select Customer to Review</h2>
                    <div v-for="customer in customers" :key="customer._id" class="customerCardOuter">
                        <div class="customerCard">
                            <div class="grid12 customerShow">
                                <p class="customerNameLbl customerLabel">Customer Name</p>
                                <p class="showCustomerName customerDisplay">{{ customer.customerFirstName + " " + customer.customerLastName }}</p>
                                <p class="customerPhoneLbl customerLabel">Phone Number</p>
                                <p class="showCustomerPhone customerDisplay">{{ customer.customerPhoneNumber }}</p>
                                <p class="customerAddressLbl customerLabel">Address</p>
                                <p class="showCustomerAddress customerDisplay">{{ customer.customerAddress + ", " + customer.customerZipCode }}</p>
                                <button @click="writeReview(customer)" class="primaryButton writeReviewButton">Write Review for This Customer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else-if="writeReviewOnCustomerPopup" class="writeActualReview">
                <h1>Write Review For <span class="coloredText"> {{ customer.customerFirstName + " " + customer.customerLastName}} </span></h1>
                <button>hello</button>
                <!-- <div class="writeReviewInputs">
                    <p class="createReviewWorkDone createReviewLabel">Work that was done?</p>
                    <select v-model="workingTypeCreateReview" name="workType" id="workingTypeCreate">
                        <option value="" disabled selected>Select a work type</option>
                        <option value="landscaping">Landscaping</option>
                        <option value="concrete">Concrete</option>
                        <option value="framing">Framing</option>
                        <option value="painting">Painting</option>
                        <option value="Electrical">Electrical</option>
                        <option value="Plumbing">Plumbing</option>
                        <option value="Roofing">Roofing</option>
                        <option value="Carpentry">Carpentry</option>
                        <option value="HVAC">HVAC</option>
                        <option value="Masonry">Masonry</option>
                        <option value="Drywall">Drywall</option>
                        <option value="Siding">Siding</option>
                        <option value="Other">Other</option>
                    </select>
                    <p class="reviewNameLbl createReviewLabel">Describe your experience</p>
                    <textarea v-model="reviewDescription" placeholder="Describe your experience..." id="reviewDescription" class="reviewInput"></textarea>
                    <p class="reviewNameLbl createReviewLabel">Customer Rating (1-5)</p>
                    <input v-model="reviewRating" placeholder="Rating (1-5)" id="reviewRating" type="number" class="reviewInput">
                    <button @click="submitReview" class="primaryButton submitReviewButton">Submit Review</button>
                </div> -->
            </div>
        </main>

        <!-- Site footer -->
        <svg class="moveDown" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#02353C" fill-opacity="1" d="M0,160L60,170.7C120,181,240,203,360,202.7C480,203,600,181,720,186.7C840,192,960,224,1080,218.7C1200,213,1320,171,1380,149.3L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
        <footer class="siteFooter">
            <!-- <article>
                <h2>Try KareShield today.</h2>
                    <p>Sign up free</p>
                    <button class="primaryButton">
                        <span>Sign up</span>
                        <img src="./src/assets/icons/arrow-rightDark.svg" alt="User Icon">
                    </button>
            </article> -->
            <section class="footerTop">
                <img src="./src/assets/Images/logo.png" alt="KareShield Logo">
                <ul>
                    <li>
                        <h3>Resources</h3>
                        <a href="#">Pricing</a>
                        <a href="#">How It Works</a>
                        <a href="#">Contact Us</a>
                        <a href="#">FAQs</a>
                    </li>
                    <li>
                        <h3>Company</h3>
                        <a href="#">About Us</a>
                        <a href="#">Blog</a>
                        <a href="#">Partnerships</a>
                        <a href="#">Careers</a>
                    </li>
                    <li>
                        <h3>Developers</h3>
                        <a href="#">Forum</a>
                        <a href="#">Projects</a>
                        <a href="#">GitHub</a>
                        <a href="#">Documentation</a>
                    </li>
                    <li>
                        <h3>Legal</h3>
                        <a href="#">Terms of Service</a>
                        <a href="#">Privacy Policy</a>
                        <a href="#">Cookie Policy</a>
                    </li>
                </ul>
            </section>
            <section class="footerBottom">Copyright © 2024, All rights reserved by <span>KareShield</span></section>
        </footer>

    </div> <!-- ending div for app -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./src/javascript/app.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./src/javascript/main.js"></script>
</body>
</html>